# Quiz 1

## Pregunta 1

### Contexto del Caso:

#### Contexto de la Compañía:

AlfaTech es una empresa de desarrollo de software que se especializa en soluciones para la gestión de recursos humanos. La empresa ha estado enfrentando desafíos para mantener la eficiencia operativa mientras escala rápidamente para atender a un mercado más amplio.

#### Datos Disponibles:

- Ingresos Mensuales
- Horas de Mantenimiento del Sistema
- Tickets de Soporte Mensuales
- Costos de Operaciones
- Satisfacción del Cliente
- Web_Traffic

#### Problema:

Recientemente, AlfaTech ha experimentado un aumento en los tickets de soporte, lo que ha afectado la satisfacción general del cliente. El equipo directivo desea monitorear un KPI operacional que les permita evaluar y mejorar la eficiencia del soporte técnico.

#### Pregunta:

¿Cuál de los siguientes KPIs sería el más adecuado para que AlfaTech monitoree la eficiencia del soporte técnico y tome medidas correctivas?

1. Ingresos Mensuales (Ingresos totales generados en un mes)
2. Horas de Mantenimiento del Sistema (Total de horas dedicadas al mantenimiento de sistemas en un mes)
3. Tickets de Soporte Mensuales (Número total de tickets de soporte generados por los usuarios en un mes)
4. Costos de Operaciones (Gastos totales relacionados con las operaciones del negocio en un mes)

## Pregunta 2

Este conjunto de datos representa transacciones de clientes múltiples con diferentes cohortes y varias transacciones. Cada fila es una transacción, donde 'State' puede ser 'Active' (activa) o 'Cancelled' (cancelada). Solo las transacciones activas contribuyen al cálculo del CLTV.

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)

dates = pd.date_range(start="2019-01-01", end="2021-12-31", freq='M')
cohorts = ['2019-01', '2019-06', '2020-01', '2020-06', '2021-01']

num_customers = 100
customer_ids = np.arange(1, num_customers + 1)
customer_cohorts = np.random.choice(cohorts, size=num_customers, replace=True)

customers_df = pd.DataFrame({
    'Customer_ID': customer_ids,
    'Cohort': customer_cohorts
})

transactions = []

for index, row in customers_df.iterrows():
    num_transactions = np.random.poisson(5) 
    transaction_dates = np.sort(np.random.choice(dates, size=num_transactions, replace=False))
    
    for date in transaction_dates:
        amount = np.random.normal(100, 20)  
        state = 'Active' if np.random.rand() > 0.1 else 'Cancelled'
        transactions.append([row['Customer_ID'], row['Cohort'], date, amount, state])

transactions_df = pd.DataFrame(transactions, columns=['Customer_ID', 'Cohort', 'Transaction_Date', 'Amount', 'State'])

Dado el conjunto de datos, calcule el CLTV que llevamos adquirido del cliente con ID 007. Asuma que el margen de beneficio es del 20%.

In [10]:
transactions_df.head()

   Customer_ID   Cohort Transaction_Date      Amount   State
0            1  2020-06       2019-02-28   97.894857  Active
1            1  2020-06       2019-08-31   80.893071  Active
2            1  2020-06       2021-01-31   93.118389  Active
3            1  2020-06       2021-04-30  115.015718  Active
4            1  2020-06       2021-07-31   94.836304  Active

In [14]:
transactions_df[(transactions_df['Customer_ID'] == 7) & (transactions_df['State'] == 'Active')]['Amount'].sum() * 0.2

75.40008935165584

In [18]:
transactions_df['Transaction_Month'] = \
transactions_df['Transaction_Date'].dt.to_period('M')

In [11]:
temp_df = transactions_df[
    (transactions_df['State'] == 'Active')
].groupby(['Transaction_Month', 'Customer_ID'])['Amount'].sum().reset_index()
temp_df

    Transaction_Month  Customer_ID      Amount
0             2019-01            8  123.162217
1             2019-01           26  110.869982
2             2019-01           27   82.595535
3             2019-01           30  142.315114
4             2019-01           34   99.464113
..                ...          ...         ...
460           2021-12           78   76.473935
461           2021-12           79   89.885066
462           2021-12           80  124.256420
463           2021-12           89  115.503110
464           2021-12           93  108.746264

[465 rows x 3 columns]

In [12]:
temp_df.groupby('Transaction_Month')['Amount'].mean()

Transaction_Month
2019-01     99.027129
2019-02    101.365133
2019-03    104.846138
2019-04     95.056083
2019-05     97.411848
2019-06    104.985097
2019-07     93.694461
2019-08     93.390519
2019-09    104.698983
2019-10    112.886508
2019-11    105.233507
2019-12     88.509344
2020-01     91.302045
2020-02     98.273769
2020-03     88.196214
2020-04    107.935915
2020-05    105.594094
2020-06     92.528305
2020-07    107.389360
2020-08    105.442914
2020-09    101.683401
2020-10    115.343448
2020-11     94.506352
2020-12     99.462663
2021-01     97.488323
2021-02     95.646799
2021-03     98.131483
2021-04    109.273332
2021-05    101.710757
2021-06     94.451851
2021-07     98.417632
2021-08    116.136133
2021-09    111.299775
2021-10    107.128314
2021-11    102.294637
2021-12     98.389511
Freq: M, Name: Amount, dtype: float64